# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment files (VERY IMPORTANT)
.env
*.env

# Logs
*.log

# Python backend
__pycache__/
*.pyc
venv/
.env
instance/
*.sqlite3test_ai.sh